@font-face {
 font-family: 'Muffler';
 src: url('fonts/Muffler-webfont.eot');
 src: url('fonts/Muffler-webfont.eot?#iefix') format('embedded-opentype'),
 url('fonts/Muffler-webfont.woff') format('woff'),
 url('fonts/Muffler-webfont.ttf') format('truetype'),
 url('fonts/Muffler-webfont.svg#FontName') format('svg');
 font-weight: normal;
 font-style: normal;
}

h1 {
  font-family: bebas neue;
  font-size: 30pt;
  color: #959595;
  margin-top: 0px;
}


p {
  font-family: Open Sans, Helvetica;
  font-size: 17px;
  color: white;
  text-align: center;
}


.navbar-default .navbar-brand {
  font-family: 'Fjalla One', helvetica, sans-serif;
}

.infocontainer {
  display: none;
}


.scroll-to {
  height: 400px;
}

p.nav-text {
  margin-top: 27px;
  margin-left: 160px;
  margin-right: -40px;
}

.eduicon {
  height: 40px;
  width: auto;

}

.click {
  font-size: 25pt;
}


